.leftVBox {
    -fx-background-color: #CCCCCC;
    -fx-border-style: solid inside;
    -fx-border-color: linear-gradient(to right, #333, #D0E9F4, #333);
    -fx-border-width: 0 8 0 0;
}

#menuTree {
    -fx-font-size: 16px;
    -fx-border-width: 0;
    -fx-background-color: none;
}

#menuTree .tree-cell {
    -fx-background-color: #E2E6EC;
}

#menuTree .tree-cell:selected {
              -fx-background-color: #336699; /* 设置选中项的背景颜色 */
              -fx-text-fill: white; /* 设置选中项的文本颜色 */
          }

.dcLabel {
    -fx-font-size: 48px;
    -fx-font-family: "Consolas";
    -fx-font-weight: bold; /* 设置字体加粗 */
    -fx-font-style: italic; /* 设置字体斜体 */
}